<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Sửa</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Danh mục sản phẩm <span class="required-color">*</span></label>
                        <div>
                            <p-dropdown class="p-inputtext-sm" [options]="productCategories" placeholder="Chọn Danh mục sản phẩm" optionLabel="name" [showClear]="true" [style]="{'width':'100%'}" formControlName="product_category"></p-dropdown>
                        </div>
                        <div *ngIf="form.controls.product_category.invalid && submitted">
                            <div *ngIf="form.controls.product_category.errors?.['required']">
                                <small class="p-error">Danh mục sản phẩm là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Thương hiệu sản phẩm <span class="required-color">*</span></label>
                        <div>
                            <p-dropdown class="p-inputtext-sm" [options]="productBrands" placeholder="Chọn Thương hiệu sản phẩm" optionLabel="name" [showClear]="true" [style]="{'width':'100%'}" formControlName="product_brand"></p-dropdown>
                        </div>
                        <div *ngIf="form.controls.product_brand.invalid && submitted">
                            <div *ngIf="form.controls.product_brand.errors?.['required']">
                                <small class="p-error">Thương hiệu sản phẩm là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên <span class="required-color">*</span></label>
                        <div>
                            <input type="text" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="name" />
                        </div>
                        <div *ngIf="form.controls.name.invalid && submitted">
                            <div *ngIf="form.controls.name.errors?.['required']">
                                <small class="p-error">Tên là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Mô tả ngắn</label>
                        <editor apiKey="8j7su2hn4okmz32icrx43famupx36ujqadijpi0zzemwh2i5" id="short_description"
                            formControlName="short_description"
                            [init]="{
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 300,
                                menubar: true,
                                plugins: [
                                'advlist autolink lists link image charmap print preview anchor codesample',
                                'searchreplace visualblocks code fullscreen image imagetools',
                                'insertdatetime media table paste code help wordcount'
                                ],
                                codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                                ],
                                toolbar:
                                'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'}">
                        </editor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Chi tiết sản phẩm</label>
                        <editor apiKey="8j7su2hn4okmz32icrx43famupx36ujqadijpi0zzemwh2i5" id="product_detail" formControlName="product_detail"
                            [init]="{
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 300,
                                menubar: true,
                                plugins: [
                                'advlist autolink lists link image charmap print preview anchor codesample',
                                'searchreplace visualblocks code fullscreen image imagetools',
                                'insertdatetime media table paste code help wordcount'
                                ],
                                codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                                ],
                                toolbar:
                                'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'}">
                        </editor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cách sử dụng</label>
                        <editor apiKey="8j7su2hn4okmz32icrx43famupx36ujqadijpi0zzemwh2i5" id="how_to_use" formControlName="how_to_use"
                            [init]="{
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 300,
                                menubar: true,
                                plugins: [
                                'advlist autolink lists link image charmap print preview anchor codesample',
                                'searchreplace visualblocks code fullscreen image imagetools',
                                'insertdatetime media table paste code help wordcount'
                                ],
                                codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                                ],
                                toolbar:
                                'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'}">
                        </editor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Thành phần</label>
                        <editor apiKey="8j7su2hn4okmz32icrx43famupx36ujqadijpi0zzemwh2i5" id="ingredients" formControlName="ingredients"
                            [init]="{
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 300,
                                menubar: true,
                                plugins: [
                                'advlist autolink lists link image charmap print preview anchor codesample',
                                'searchreplace visualblocks code fullscreen image imagetools',
                                'insertdatetime media table paste code help wordcount'
                                ],
                                codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                                ],
                                toolbar:
                                'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'}">
                        </editor>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <div>
                            <input #fileInput type="file" class="with-100percent" id="file-input" accept="image/*"
                                formControlName="image">
                        </div>
                        <div class="mt-2">
                            <p-image *ngIf="image_path" [src]="url + image_path" [alt]="image_name" width="250" [preview]="true"></p-image>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <div>
                            <p-inputSwitch formControlName="status"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button pButton label="Lưu" class="p-button-primary p-button-sm mr-2"
                        (click)="save(fileInput.files)"></button>
                    <button pButton label="Lưu và trở về" class="p-button-help p-button-sm mr-2"
                        (click)="saveAndBack(fileInput.files)"></button>
                    <a routerLink="/product/list">
                        <button pButton label="Trở về" class="p-button-secondary p-button-sm"></button>
                    </a>
                </div>
            </div>
        </form>
    </section>
</div>