<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <a routerLink="/product/add">
                        <button pButton label="Thêm" icon="pi pi-plus" class="p-button-success p-button-sm"></button>
                    </a>
                </div>

                <div class="p-toolbar-group-right">
                    <div class="p-d-flex">
                        <span class="p-ml-auto">
                            <input pInputText type="text" class="p-inputtext-sm" #search_input
                                placeholder="Sản phẩm, DMục, THiệu" />
                            <p-button icon="pi pi-search" styleClass="p-button-sm" (click)="search(search_input.value)">
                            </p-button>
                        </span>
                    </div>
                </div>
            </p-toolbar>
            <p-table [value]="datas" [lazy]="true" (onLazyLoad)="load($event)" [totalRecords]="totalResult"
                [loading]="loading" dataKey="id" responsiveLayout="scroll" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Hình ảnh</th>
                        <th>Danh mục</th>
                        <th>Thương hiệu</th>
                        <th pSortableColumn="view_count">Lượt xem <p-sortIcon field="view_count"></p-sortIcon>
                        </th>
                        <th pSortableColumn="created_at">Ngày thêm <p-sortIcon field="created_at"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">Trạng thái <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th>#</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{data.name}}</td>
                        <td>
                            <p-image *ngIf="data.image_path" [src]="url + data.image_path" [alt]="data.image_name"
                                [preview]="true" width="100"></p-image>
                        </td>
                        <td>
                            <span *ngIf="data.product_category">
                                {{data.product_category.name}}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="data.product_brand">
                                {{data.product_brand.name}}
                            </span>
                        </td>
                        <td>{{data.view_count | number}}</td>
                        <td>{{data.created_at|date:'dd/MM/yyyy hh:mm a'}}</td>
                        <td>{{data.status == 1 ? 'Bật' : 'Tắt'}}</td>
                        <td>
                            <button (click)="showProductDetailsDialog(data.id)" pButton icon="pi pi-eye"
                                class="p-button-rounded p-button-sm p-button-info mr-2 mb-2"></button>
                            <button (click)="showProductImageDialog(data.id)" pButton icon="pi pi-images"
                                class="p-button-rounded p-button-sm p-button-success mr-2 mb-2"></button>
                            <button (click)="showProductOptionDialog(data.id)" pButton icon="pi pi-bars"
                                class="p-button-rounded p-button-sm p-button-success mr-2 mb-2"></button>
                            <a [routerLink]="['/product/edit', data.id]">
                                <button pButton icon="pi pi-pencil"
                                    class="p-button-rounded p-button-sm p-button-success mr-2 mb-2"></button>
                            </a>
                            <button pButton icon="pi pi-trash"
                                class="p-button-rounded p-button-sm p-button-warning mb-2"
                                (click)="delete(data.id)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <div *ngIf="totalResult == total">
                            Có tổng số {{totalResult}}
                        </div>
                        <div *ngIf="totalResult != total">
                            Có {{totalResult}} trên tổng số {{total}}
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>


<!-- Product Image Diaglog -->
<p-dialog header="Hình ảnh sản phẩm" [(visible)]="productImageDialog" [modal]="true"
    [style]="{width: '75vw', height: '100vh'}" [draggable]="false" [resizable]="true" [maximizable]="true">
    <p-fileUpload accept="image/*" name="image" [url]="apiUrl + 'admin/product/upload-product-image/' + productId"
        (onUpload)="productImageOnUpload($event)">
    </p-fileUpload>
    <ng-template pTemplate="content">
        <p-table [value]="productImageDatas" [lazy]="true" (onLazyLoad)="productImageLoad($event)"
            [totalRecords]="productImageTotalResult" [loading]="productImageLoading" dataKey="id"
            responsiveLayout="scroll" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Hình ảnh</th>
                    <th pSortableColumn="created_at">Ngày thêm <p-sortIcon field="created_at"></p-sortIcon>
                    </th>
                    <th>#</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productImageData>
                <tr>
                    <td>
                        <p-image *ngIf="productImageData.image_path" [src]="url + productImageData.image_path"
                            [alt]="productImageData.image_name" [preview]="true" width="100"></p-image>
                    </td>
                    <td>{{productImageData.created_at|date:'dd/MM/yyyy hh:mm a'}}</td>
                    <td>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-sm p-button-warning mb-2"
                            (click)="productImagedelete(productImageData.id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <div *ngIf="productImageTotalResult == productImageTotal">
                        Có tổng số {{productImageTotalResult}}
                    </div>
                    <div *ngIf="productImageTotalResult != productImageTotal">
                        Có {{productImageTotalResult}} trên tổng số {{productImageTotal}}
                    </div>
                </div>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Primary" class="p-button-outlined p-button-sm" icon="pi pi-check"
            (click)="productImageDialog=false" label="Đóng" styleClass="p-button-text"></button>
    </ng-template>
</p-dialog>

<!-- Product Option Diaglog -->
<p-dialog header="Options" [(visible)]="productOptionDialog" [modal]="true"
    [style]="{width: '75vw', height: '100vh'}" [draggable]="false" [resizable]="true" [maximizable]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="productOptionForm" class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên <span class="required-color">*</span></label>
                        <div>
                            <input type="text" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="name" />
                        </div>
                        <div *ngIf="productOptionForm.controls.name.invalid && productOptionSubmitted">
                            <div *ngIf="productOptionForm.controls.name.errors?.['required']">
                                <small class="p-error">Tên là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Giá <span class="required-color">*</span></label>
                        <div>
                            <input type="number" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="price" />
                        </div>
                        <div *ngIf="productOptionForm.controls.price.invalid && productOptionSubmitted">
                            <div *ngIf="productOptionForm.controls.price.errors?.['required']">
                                <small class="p-error">Giá là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Số lượng <span class="required-color">*</span></label>
                        <div>
                            <input type="number" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="stock" />
                        </div>
                        <div *ngIf="productOptionForm.controls.stock.invalid && productOptionSubmitted">
                            <div *ngIf="productOptionForm.controls.stock.errors?.['required']">
                                <small class="p-error">Số lượng là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button pButton label="Lưu" class="p-button-primary p-button-sm mr-2"
                        (click)="productOptionSave(null)"></button>
                </div>
            </div>
        </form>
        <p-table [value]="productOptionDatas" [lazy]="true" (onLazyLoad)="productOptionLoad($event)"
            [totalRecords]="productOptionTotalResult" [loading]="productOptionLoading" dataKey="id"
            responsiveLayout="scroll" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">Giá <p-sortIcon field="stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="stock">Số lượng <p-sortIcon field="stock"></p-sortIcon>
                    </th>
                    <th pSortableColumn="created_at">Ngày thêm <p-sortIcon field="created_at"></p-sortIcon>
                    </th>
                    <th>#</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productOptionData>
                <tr>
                    <td>
                        {{productOptionData.name}}
                    </td>
                    <td>
                        {{productOptionData.price | number}}
                    </td>
                    <td>
                        {{productOptionData.stock | number}}
                    </td>
                    <td>{{productOptionData.created_at|date:'dd/MM/yyyy hh:mm a'}}</td>
                    <td>
                        <button (click)="productOptionEdit(productOptionData.id)" pButton icon="pi pi-pencil"
                            class="p-button-rounded p-button-sm p-button-success mr-2 mb-2"></button>
                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-sm p-button-warning mb-2"
                            (click)="productOptiondelete(productOptionData.id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <div *ngIf="productOptionTotalResult == productOptionTotal">
                        Có tổng số {{productOptionTotalResult}}
                    </div>
                    <div *ngIf="productOptionTotalResult != productOptionTotal">
                        Có {{productOptionTotalResult}} trên tổng số {{productOptionTotal}}
                    </div>
                </div>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Primary" class="p-button-outlined p-button-sm" icon="pi pi-check"
            (click)="productOptionDialog=false" label="Đóng" styleClass="p-button-text"></button>
    </ng-template>
</p-dialog>

<!-- Product Details -->
<p-dialog header="Chi tiết sản phẩm" [(visible)]="productDetailsDialog" [modal]="true"
    [style]="{width: '85vw', height: '100vh'}" [draggable]="false" [resizable]="true" [maximizable]="true">
    <ng-template pTemplate="content">
        <section class="content">

            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h3 class="d-inline-block d-sm-none">{{product.name}}</h3>
                            <div class="col-12">
                                <img [src]="url + product.image_path" class="product-image"
                                    [alt]="product.image_name" style="width: 450px;">
                            </div>
                            <div class="col-12 product-image-thumbs">
                                <div class="product-image-thumb" ><img
                                    [src]="url + product.image_path" [alt]="product.image_name"></div>
                                <div class="product-image-thumb" *ngFor="let productImage of product.product_images"><img
                                        [src]="url + productImage.image_path" [alt]="productImage.image_name"></div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h3 class="my-3">{{product.name}}</h3>
                            <span>Mô tả ngắn</span>
                            <span [innerHTML]="product.short_description"></span>
                            <hr>

                            <h4 class="mt-3">Kích thước <small>(Vui lòng chọn)</small></h4>
                            <div class="form-check">
                                <input type="radio" name="product_option" class="form-check-input">
                                <label class="form-check-label">{{product.option_name}} - {{product.option_price | number}} đ</label>
                            </div>
                            <div class="form-check" *ngFor="let productOption of product.product_options">
                                <input type="radio" name="product_option" class="form-check-input">
                                <label class="form-check-label">{{productOption.name}} - {{productOption.price | number}} đ</label>
                            </div>

                            <div class="mt-4">
                                <div class="btn btn-primary btn-lg btn-flat">
                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                    Thêm vào giỏ hàng
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <nav class="w-100">
                            <div class="nav nav-tabs" id="product-tab" role="tablist">
                                <a class="nav-item nav-link active" id="product-detail-tab" data-toggle="tab"
                                    href="#product-detail" role="tab" aria-controls="product-detail"
                                    aria-selected="true">Chi tiết</a>
                                <a class="nav-item nav-link" id="product-how-to-use-tab" data-toggle="tab"
                                    href="#product-how-to-use" role="tab" aria-controls="product-how-to-use"
                                    aria-selected="false">Cách sử dụng</a>
                                <a class="nav-item nav-link" id="ingredients-tab" data-toggle="tab" href="#ingredients"
                                    role="tab" aria-controls="ingredients" aria-selected="false">Thành phần</a>
                            </div>
                        </nav>
                        <div class="tab-content p-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="product-detail" role="tabpanel"
                                aria-labelledby="product-detail-tab" [innerHTML]="product.product_detail"></div>

                            <div class="tab-pane fade" id="product-how-to-use" role="tabpanel"
                                aria-labelledby="product-how-to-use-tab" [innerHTML]="product.how_to_use"></div>

                            <div class="tab-pane fade" id="ingredients" role="tabpanel"
                                aria-labelledby="ingredients-tab" [innerHTML]="product.ingredients"></div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Primary" class="p-button-outlined p-button-sm" icon="pi pi-check"
            (click)="productDetailsDialog=false" label="Đóng" styleClass="p-button-text"></button>
    </ng-template>
</p-dialog>