<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Slider</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <a routerLink="/slider/add">
                        <button pButton label="Thêm" icon="pi pi-plus" class="p-button-success p-button-sm"></button>
                    </a>
                </div>

                <div class="p-toolbar-group-right">
                    <div class="p-d-flex">
                        <span class="p-ml-auto">
                            <input pInputText type="text" class="p-inputtext-sm" #search_input
                                placeholder="Tiêu đề, Nội dung" />
                            <p-button icon="pi pi-search" styleClass="p-button-sm" (click)="search(search_input.value)">
                            </p-button>
                        </span>
                    </div>
                </div>
            </p-toolbar>
            <p-table [value]="datas" [lazy]="true" (onLazyLoad)="load($event)" [totalRecords]="totalResult"
                [loading]="loading" dataKey="id" responsiveLayout="scroll" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Tiêu đề <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="content">Nội dung <p-sortIcon field="content"></p-sortIcon>
                        </th>
                        <th>Đường dẫn</th>
                        <th>Hình ảnh</th>
                        <th pSortableColumn="created_at">Ngày thêm <p-sortIcon field="created_at"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">Trạng thái <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th>#</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{data.title}}</td>
                        <td [innerHTML]="data.content | safeHtml"></td>
                        <td>{{data.link}}</td>
                        <td>
                            <p-image *ngIf="data.image_path" [src]="url + data.image_path" [alt]="data.image_name"
                                [preview]="true" width="250"></p-image>
                        </td>
                        <td>{{data.created_at|date:'longDate'}}</td>
                        <td>{{data.status == 1 ? 'Bật' : 'Tắt'}}</td>
                        <td>
                            <a [routerLink]="['/slider/edit', data.id]">
                                <button pButton icon="pi pi-pencil"
                                    class="p-button-rounded p-button-sm p-button-success mr-2 mb-2"></button>
                            </a>
                            <button pButton icon="pi pi-trash"
                                class="p-button-rounded p-button-sm p-button-warning mb-2"
                                (click)="delete(data.id)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <div *ngIf="totalResult == total">
                            Có tổng số {{totalResult}}
                        </div>
                        <div *ngIf="totalResult != total">
                            Có {{totalResult}} trên tổng số {{total}}
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>