<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Slider</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!-- <li class="breadcrumb-item"><a href="javascript:;">Slider</a></li> -->
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <p-table [value]="sliders" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [totalRecords]="totalRecords"
                [loading]="loading" dataKey="id" responsiveLayout="scroll" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['title','content']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input type="text" #search_input placeholder="Search keyword" />
                            <button (click)="search(search_input.value)">Search</button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="content">Content <p-sortIcon field="content"></p-sortIcon>
                        </th>
                        <th>Link</th>
                        <th>Image</th>
                        <th pSortableColumn="created_at">Create Date <p-sortIcon field="created_at"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-slider>
                    <tr>
                        <td>{{slider.title}}</td>
                        <td>{{slider.content}}</td>
                        <td>{{slider.link}}</td>
                        <td>{{slider.image_name}}</td>
                        <td>{{slider.created_at|date:'longDate'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>