<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Email</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Cập nhật</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nội dung <span class="required-color">*</span></label>
                        <editor apiKey="8j7su2hn4okmz32icrx43famupx36ujqadijpi0zzemwh2i5" id="content"
                            formControlName="content"
                            [init]="{
                                base_url: '/tinymce',
                                suffix: '.min',
                                height: 500,
                                menubar: true,
                                plugins: [
                                'advlist autolink lists link image charmap print preview anchor codesample',
                                'searchreplace visualblocks code fullscreen image imagetools',
                                'insertdatetime media table paste code help wordcount'
                                ],
                                codesample_languages: [
                                { text: 'TypeScript', value: 'typescript' },
                                { text: 'JavaScript', value: 'javascript' },
                                { text: 'HTML/XML', value: 'markup' },
                                { text: 'CSS', value: 'css' }
                                ],
                                toolbar:
                                'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image media codesample'}">
                        </editor>
                        <div *ngIf="form.controls.content.invalid && submitted">
                            <div *ngIf="form.controls.content.errors?.['required']">
                                <small class="p-error">Nội dung là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <div>
                            <p-inputSwitch formControlName="status"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button pButton label="Lưu" class="p-button-primary p-button-sm mr-2"
                        (click)="save(null)"></button>
                </div>
            </div>
        </form>
    </section>
</div>