/* You can add global styles to this file, and also import other style files */
.required-color {
    color: red;
}

input::file-selector-button {
    border: thin solid grey;
}

.with-100percent {
    width: 100%;
}

.p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da !important;
}

.p-inputtext:enabled:focus {
    box-shadow: unset !important;
    border-color: #ced4da !important;
}

/* Fix content height */
.content-wrapper {
    height: auto !important;
}