/* You can add global styles to this file, and also import other style files */
.required-color {
    color: red;
}

input::file-selector-button {
    border: thin solid grey;
}

.with-100percent {
    width: 100%;
}