<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tài khoản</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Đổi thông tin</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên <span class="required-color">*</span></label>
                        <div>
                            <input type="text" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="name" />
                        </div>
                        <div *ngIf="form.controls.name.invalid && submitted">
                            <div *ngIf="form.controls.name.errors?.['required']">
                                <small class="p-error">Tên là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mật khẩu hiện tại</label>
                        <div>
                            <input type="password" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="current_password" />
                        </div>
                        <div *ngIf="form.controls.current_password.invalid && submitted">
                            <div *ngIf="form.controls.current_password.errors?.['required']">
                                <small class="p-error">Mật khẩu hiện tại là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <div>
                            <input type="password" class="p-inputtext-sm with-100percent" pInputText
                                formControlName="new_password" />
                        </div>
                        <div *ngIf="form.controls.new_password.invalid && submitted">
                            <div *ngIf="form.controls.new_password.errors?.['minlength']">
                                <small class="p-error">Mật khẩu mới phải có độ dài tối thiểu là 6 ký tự</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button pButton label="Lưu" class="p-button-primary p-button-sm mr-2"
                        (click)="save(null)"></button>
                    <button pButton label="Lưu và trở về" class="p-button-help p-button-sm mr-2"
                        (click)="saveAndBack(null)"></button>
                    <a routerLink="/dashboard">
                        <button pButton label="Trở về" class="p-button-secondary p-button-sm"></button>
                    </a>
                </div>
            </div>
        </form>
    </section>
</div>